{% extends 'base.html' %}



{% block content %}
<div class = "container">
    <header class = "row">
        <div class = "col-12 col-md-6" id = "header-text">
            <h2>This is where you'll find all the spectacular cars!</h2>
            <h5>Purchase Your Dream Vehicle Here!</h5>
        
            <div>
                <button class = "btn btn-primary">View Our Inventory</button>
                <button class = "btn btn-primary">Choose from a variety of classic selection</button>
            </div>
        </div>
        <!--header image-->
            <img src="" alt>"header image" class = "header-image">
    </header>
    <!--end of header section-->
    <!--start of middle section-->
    <section class = "row">
        <div class = "col-12" id = "middle-text">
            <h2>Display of cars collection</h2>
            <p>You can finally drive your dream car!</p>
        </div>
    </section>
    <!--end of mid section-->

    <!--coll of features sec-->
    <section class = "row features" id = "features-section">
        <div class = "col-12 col-md-4">
            <img src="" alt = "" id = "api-image">
            <h4>Dedicated api routes</h4>
            <p>If you are someone who loves an 80s to 90s vehicle, we have that for you</p>
        </div>
        <div class = "col-12 col-md-4">
            <img src="" alt = "" id = "api-image">
            <h4>Dedicated api routes</h4>
            <p>If you are someone who loves an 80s to 90s vehicle, we have that for you</p>
        </div>
        <div class = "col-12 col-md-4">
            <img src="" alt = "" id = "api-image">
            <h4>Dedicated api routes</h4>
            <p>If you are someone who loves an 80s to 90s vehicle, we have that for you</p>
        </div>
    </section>

    <!--start of comm sec-->
    <section class = "row">
        <div class = "col-12 col-md-6">
            <img src="" alt = "" id = "">
        </div>
        <div class = "col-12 col-md-6">
            <h4>ucbuvbuebrvubvb</h4>
            <p>
                ierbliebvliebvlibvlbeqlv
            </p>
            <div>
                <button class="btn btn-primary">View on github</button>
                <button class="btn btn-primary">View on github</button>
            </div>
        </div>
    </section>
    <!--start of footer-->
    <footer class = "row" id = "footer">
        <div class = "col-2 col-md-4">
            <img src = "" alt = "" id = "">
        </div>
        <div class = "col-2">
            <div class = "footer-text-flex">
                <h4>Cars</h4>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
            </div>
        </div>
        <div class = "col-2">
            <div class = "footer-text-flex">
                <h4>Cars</h4>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
            </div>
        </div>
        <div class = "col-2">
            <div class = "footer-text-flex">
                <h4>Cars</h4>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
            </div>
        </div>
        <div class = "col-2">
            <div class = "footer-text-flex">
                <h4>Cars</h4>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
            </div>
        </div>
        <div class = "col-2">
            <div class = "footer-text-flex">
                <h4>Cars</h4>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
                <p>more cars</p>
            </div>
        </div>
    </footer>

</div>









{% endblock content %}






